name: My Pipeline
on: [push]
jobs:

  Build-and-Deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Get The Values from SSM
        run: |
          x=$(aws ssm get-parameters --names=DbHost --query "Parameters[*].{Value:Value}" --output=text)
          echo  "\"DbHost\"=\"$x\"" > conf.toml
          x=$(aws ssm get-parameters --names=DbUser --query "Parameters[*].{Value:Value}" --output=text)
          echo  "\"DbUser\"=\"$x\"" >> conf.toml
          x=$(aws ssm get-parameters --names=DbPassword --query "Parameters[*].{Value:Value}" --output=text)
          echo  "\"DbPassword\"=\"$x\"" >> conf.toml
          x=$(aws ssm get-parameters --names=DbName --query "Parameters[*].{Value:Value}" --output=text)
          echo  "\"DbName\"=\"$x\"" >> conf.toml
          echo  "\"DbPort\"=\"5432\"" >> conf.toml
          echo  "\"ListenHost\"=\"0.0.0.0\"" >> conf.toml
          echo  "\"ListenPort\"=\"3000\"" >> conf.toml
          
          cat conf.toml

      - name: Create VPC and Subnets
        run: |
          Stack1=$(aws cloudformation create-stack --stack-name MyNetwork  --template-body file://MyNetwork.yaml)
          aws cloudformation wait stack-create-complete --stack-name ${Stack1}

      - name: Create RDS and ECR Repository
        run: |
          Stack2=$(aws cloudformation create-stack --stack-name MyDB  --template-body file://MyDB.yaml)
          aws cloudformation wait stack-create-complete --stack-name ${Stack2}


      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image for seeding DB to Amazon ECR
        id: build-image-seed
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: myrepo
          IMAGE_TAG: init
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          docker build -t  $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f DockerfileSeed .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "::set-output name=imageseed::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

      - name: Build, tag, and push image for Web to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: myrepo
          IMAGE_TAG: latest
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          docker build -t  $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

       - name: Create ECS Cluster with FARGATE and Deploy the Web Container
        run: |
          Stack3=$(aws cloudformation create-stack --stack-name MyCluster  --template-body file://MyCluster.yaml --parameters ParameterKey=ImageInit,ParameterValue=${{ steps.build-image-seed.outputs.imageseed }} ParameterKey=Image,ParameterValue=${{ steps.build-image.outputs.image }} )
          aws cloudformation wait stack-create-complete --stack-name ${Stack3}
          aws cloudformation describe-stacks --stack-name MyCluster --query "Stacks[0].Outputs[1].OutputValue"


